# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        chisel:carpet_green
        chisel:concrete_orange1
        chisel:concrete_orange2
        chisel:netherrack
        chisel:glasspanedyedwhite
        chisel:concrete_lime
        chisel:concrete_lightblue1
        chisel:marblepillar
        chisel:antiblock:11
        chisel:antiblock:10
        chisel:purpur
        chisel:glasspanedyedmagenta
        chisel:antiblock:14
        chisel:antiblock:13
        chisel:netherbrick
        chisel:waterstone2
        chisel:antiblock:12
        chisel:concrete_lightblue2
        chisel:obsidian
        chisel:bookshelf_darkoak
        chisel:brownstone
        chisel:glasspanedyedlime
        chisel:glowstone
        chisel:carpet_blue
        chisel:wool_lime
        chisel:bookshelf_oak
        chisel:concrete_black1
        chisel:concrete_black2
        chisel:dirt
        chisel:concrete_yellow
        chisel:redstone1
        chisel:carpet_white
        chisel:carpet_gray
        chisel:glassdyedcyan
        chisel:quartz
        chisel:planks-oak
        chisel:glasspanedyedyellow
        chisel:bricks
        chisel:glasspanedyedpink
        chisel:valentines
        chisel:temple
        agricraft:water_channel_normal
        chisel:glassdyedlightgray
        chisel:glassdyedlightblue
        chisel:laboratory
        chisel:wool_magenta
        agricraft:grate
        chisel:planks-birch
        chisel:concrete_blue
        chisel:carpet_brown
        chisel:concrete_gray
        chisel:glassdyedpink
        chisel:carpet_cyan
        chisel:prismarine2
        chisel:concrete_purple
        chisel:stonebrick1
        chisel:stonebrick2
        chisel:carpet_red
        chisel:factory
        chisel:wool_cyan
        chisel:glasspanedyedgray
        chisel:concrete_brown2
        chisel:sandstoneyellow1
        chisel:wool_yellow
        chisel:sandstoneyellow2
        chisel:concrete_brown1
        chisel:glasspanedyedblue
        chisel:lavastone
        chisel:diorite2
        chisel:glasspanedyedpurple
        chisel:concrete_black
        chisel:planks-acacia
        chisel:concrete_purple2
        chisel:diorite1
        appliedenergistics2:facade
        chisel:voidstonerunic
        chisel:concrete_gray1
        chisel:concrete_gray2
        chisel:andesite1
        chisel:andesite2
        chisel:diorite
        chisel:glasspanedyedlightgray
        chisel:carpet_yellow
        chisel:granite
        agricraft:water_channel_valve
        chisel:glassdyedbrown
        chisel:limestone
        chisel:basalt1
        chisel:basalt2
        chisel:sandstonered2
        chisel:sandstonered1
        chisel:carpet_magenta
        chisel:glassdyedorange
        buildcraftsilicon:plug_facade
        chisel:concrete_lightgray
        chisel:prismarine1
        chisel:wool_pink
        chisel:glasspanedyedlightblue
        chisel:glassdyedgreen
        chisel:wool_black
        chisel:certus
        chisel:quartz1
        chisel:concrete_pink1
        chisel:futura
        chisel:concrete_pink2
        chisel:glassdyedwhite
        chisel:endstone
        chisel:block_coal_coke
        chisel:glasspanedyedblack
        chisel:sandstoneyellow
        chisel:diamond
        chisel:templemossy
        chisel:energizedvoidstone
        chisel:glassdyedblack
        chisel:wool_lightblue
        chisel:glowstone2
        chisel:cobblestonemossy1
        chisel:cobblestonemossy2
        chisel:glowstone1
        chisel:wool_lightgray
        chisel:arcane_stone
        chisel:block_coal1
        chisel:block_coal2
        chisel:concrete_lightblue
        chisel:hardenedclay
        chisel:concrete_green2
        chisel:ice
        chisel:concrete_green1
        chisel:technicalnew
        chisel:marble2
        chisel:marble1
        chisel:wool_green
        chisel:concrete_lightgray1
        chisel:concrete_lightgray2
        chisel:ironpane
        chisel:glassdyedlime
        chisel:technical
        chisel:certus2
        chisel:block_charcoal2
        chisel:certus1
        chisel:block_charcoal1
        chisel:concrete_purple1
        chisel:concrete_lime2
        chisel:carpet_black
        chisel:carpet_orange
        chisel:concrete_lime1
        chisel:basalt
        chisel:lapis
        chisel:bookshelf_acacia
        chisel:stonebrick
        chisel:concrete_cyan
        chisel:concrete_red
        chisel:wool_orange
        chisel:glassdyedpurple
        chisel:glass1
        chisel:glasspane1
        chisel:marble
        chisel:hardenedclay1
        chisel:sandstonered
        chisel:hardenedclay2
        chisel:purpur1
        chisel:planks-dark-oak
        chisel:purpur2
        chisel:block_coal
        chisel:blockcobalt
        chisel:sandstonered-scribbles
        chisel:voidstone
        chisel:carpet_lightblue
        chisel:glassdyedmagenta
        chisel:concrete_yellow1
        chisel:carpet_pink
        chisel:concrete_yellow2
        chisel:waterstone
        chisel:carpet_lightgray
        chisel:glass
        chisel:antiblock:8
        chisel:antiblock:7
        chisel:antiblock:9
        chisel:antiblock:4
        chisel:antiblock:3
        chisel:antiblock:6
        chisel:antiblock:5
        chisel:paper
        chisel:cobblestonemossy
        chisel:cobblestone
        chisel:concrete_blue2
        chisel:arcane_stone2
        chisel:cobblestone1
        chisel:arcane_stone1
        chisel:cobblestone2
        chisel:concrete_blue1
        chisel:wool_white
        chisel:icepillar
        chisel:factory1
        chisel:wool_purple
        agricraft:water_tank
        chisel:glassdyedgray
        chisel:wool_brown
        chisel:andesite
        chisel:glassdyedblue
        chisel:technical1
        chisel:concrete_cyan2
        chisel:concrete_cyan1
        chisel:concrete_pink
        chisel:antiblock:0
        chisel:redstone
        chisel:antiblock:2
        chisel:antiblock:1
        chisel:glassdyedyellow
        chisel:glasspane
        chisel:glasspanedyedgreen
        chisel:glasspanedyedorange
        chisel:prismarine
        chisel:sandstone-scribbles
        chisel:ice2
        chisel:bookshelf_spruce
        chisel:bookshelf_jungle
        chisel:ice1
        chisel:bricks2
        chisel:carpet_lime
        chisel:block_charcoal
        chisel:bookshelf_birch
        chisel:bricks1
        chisel:waterstone1
        chisel:limestone1
        chisel:endstone1
        chisel:lavastone2
        chisel:lavastone1
        chisel:limestone2
        chisel:planks-spruce
        chisel:endstone2
        chisel:concrete_orange
        chisel:glassdyedred
        chisel:granite1
        agricraft:water_channel_full
        chisel:carpet_purple
        chisel:block_coal_coke2
        chisel:glasspanedyedcyan
        chisel:block_coal_coke1
        chisel:concrete_red2
        chisel:wool_blue
        chisel:concrete_red1
        chisel:concrete_white
        chisel:emerald
        chisel:granite2
        chisel:concrete_green
        chisel:wool_red
        chisel:tyrian
        chisel:concrete_brown
        chisel:concrete_magenta
        chisel:concrete_magenta1
        chisel:wool_gray
        chisel:concrete_magenta2
        chisel:concrete_white1
        chisel:concrete_white2
        chisel:cloud
        chisel:planks-jungle
     >
}


